{% extends 'wrapper.html' %}
{% load static %}
{% block title %}
<title> Редактирование объявления </title>
{% endblock title %}
{% block content %}
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <div class="container" style="margin-top: 5%; text-align:center; width: 70%;">
        <form method="post" action="{% url 'edit_ad' pk=order.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a href="{% url 'delete_ad' order.id %}" class="btn btn-secondary">Удалить</a>
        </form>
            <a href="{% url 'ads_list' %}" class="btn btn-secondary">Отмена</a>
    </div>
{% endblock content %}