{% extends 'wrapper.html' %}
{% load static %}
{% block title %}
<title>Регистрация</title>
{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 5%; text-align:center; width: 70%;">
        <div class="form-section">
            <h2>Регистрация</h2>
            <form method="POST" style="width.input: 100%">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-ouline-warning" style="margin-top: 2%;">Зарегистрироваться</button>
            </form>
            <hr>
            <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
            <br>
        </div>
    </div>
{% endblock content %}